MINIO_ENDPOINT=http://localhost:9000
MINIO_ACCESS_KEY=admin
MINIO_SECRET_KEY=password123
LANDING_BUCKET=landing-zone
KAFKA_BROKER=localhost:9092
KAFKA_TOPIC_SENSOR_RAW=sesame.sensor.raw
KAFKA_TOPIC_SENSOR_DLQ=sesame.sensor.raw.dlq
OWM_API_KEY=
